In [2]:
from dssdata import SystemClass
from dssdata.pfmodes import run_static_pf
from dssdata.tools import voltages
from dssdata.pfmodes import cfg_tspf, run_tspf
path = "/home/jason/Documents/research/stable-rl-three-phase/opendss_model/13bus/IEEE13Nodeckt.dss"

distSys = SystemClass(path=path, kV=[115, 4.16, 0.48])
# cfg_tspf(distSys,'2h')

In [2]:
print(distSys.dss.Circuit.AllBusNames())

['sourcebus', '650', 'rg60', '633', '634', '671', '645', '646', '692', '675', '611', '652', '670', '632', '680', '684']

In [4]:
v_pu = voltages.get_from_buses(distSys,['633','634'])
print(len(v_pu['phase'][0]))
for phase in v_pu['phase'][0]:
    print(phase)

3
a
b
c

In [16]:
distSys.dss.Circuit.SetActiveBus('634')
print(distSys.dss.Bus.kVBase())

0.27712812921102037

In [43]:
distSys.dss.Bus.NumNodes()

3

In [13]:
voltages.get_all(distSys)

     bus_name  v_pu_a  v_pu_b  v_pu_c  ang_a  ang_b  ang_c phase
0   sourcebus  1.0001  1.0001  1.0001   30.0  -90.0  150.0   abc
1         650  1.0001  1.0001  1.0001    0.0 -120.0  120.0   abc
2        rg60  1.0626  1.0501  1.0689   -0.0 -120.0  120.0   abc
3         633  1.0626  1.0501  1.0689   -0.0 -120.0  120.0   abc
4         634  1.0626  1.0501  1.0689   -0.0 -120.0  120.0   abc
5         671  1.0626  1.0501  1.0689   -0.0 -120.0  120.0   abc
6         645     NaN  1.0501  1.0689    NaN -120.0  120.0    bc
7         646     NaN  1.0501  1.0689    NaN -120.0  120.0    bc
8         692  1.0626  1.0501  1.0689   -0.0 -120.0  120.0   abc
9         675  1.0626  1.0501  1.0689   -0.0 -120.0  120.0   abc
10        611     NaN     NaN  1.0689    NaN    NaN  120.0     c
11        652  1.0626     NaN     NaN   -0.0    NaN    NaN     a
12        670  1.0626  1.0501  1.0689   -0.0 -120.0  120.0   abc
13        632  1.0626  1.0501  1.0689   -0.0 -120.0  120.0   abc
14        680  1.0626  1.0501  1.0689   -0.0 -120.0  120.0   abc
15        684  1.0626     NaN  1.0689   -0.0    NaN  120.0    ac

In [2]:
cmd = [
    f"New Generator.pv3 bus1=675.2 Phases=1 kv=4.16 kw=1500 pf=1 model=1"
      ]

In [3]:
distSys.dsscontent = distSys.dsscontent + cmd

In [3]:
distSys.run_command(f"Set defaultbasefrequency=60")

''

In [22]:
distSys.run_command(f"? Solve mode")

'Property Unknown'

In [3]:
voltages.get_all(distSys)

     bus_name  v_pu_a  v_pu_b  v_pu_c  ang_a  ang_b  ang_c phase
0   sourcebus  1.0001  1.0001  1.0001   30.0  -90.0  150.0   abc
1         650  1.0001  1.0001  1.0001    0.0 -120.0  120.0   abc
2        rg60  1.0626  1.0501  1.0689   -0.0 -120.0  120.0   abc
3         633  1.0626  1.0501  1.0689   -0.0 -120.0  120.0   abc
4         634  1.0626  1.0501  1.0689   -0.0 -120.0  120.0   abc
5         671  1.0626  1.0501  1.0689   -0.0 -120.0  120.0   abc
6         645     NaN  1.0501  1.0689    NaN -120.0  120.0    bc
7         646     NaN  1.0501  1.0689    NaN -120.0  120.0    bc
8         692  1.0626  1.0501  1.0689   -0.0 -120.0  120.0   abc
9         675  1.0626  1.0501  1.0689   -0.0 -120.0  120.0   abc
10        611     NaN     NaN  1.0689    NaN    NaN  120.0     c
11        652  1.0626     NaN     NaN   -0.0    NaN    NaN     a
12        670  1.0626  1.0501  1.0689   -0.0 -120.0  120.0   abc
13        632  1.0626  1.0501  1.0689   -0.0 -120.0  120.0   abc
14        680  1.0626  1.0501  1.0689   -0.0 -120.0  120.0   abc
15        684  1.0626     NaN  1.0689   -0.0    NaN  120.0    ac

In [15]:
distSys.dss.Solution.Number(1)
distSys.dss.Solution.Solve()

In [16]:
voltages.get_all(distSys)

     bus_name  v_pu_a  v_pu_b  v_pu_c  ang_a   ang_b   ang_c phase
0   sourcebus  1.0000  1.0000  1.0000  29.99  -90.01  149.99   abc
1         650  0.9999  1.0000  0.9999  -0.01 -120.01  119.99   abc
2        rg60  1.0560  1.0374  1.0560  -0.01 -120.01  119.98   abc
3         633  1.0113  1.0270  1.0015  -2.59 -121.81  117.76   abc
4         634  0.9872  1.0084  0.9825  -3.28 -122.27  117.27   abc
5         671  0.9828  1.0403  0.9649  -5.37 -122.39  115.99   abc
6         645     NaN  1.0197  1.0023    NaN -121.94  117.79    bc
7         646     NaN  1.0180  1.0002    NaN -122.02  117.84    bc
8         692  0.9828  1.0403  0.9649  -5.37 -122.39  115.99   abc
9         675  0.9763  1.0426  0.9630  -5.62 -122.57  116.00   abc
10        611     NaN     NaN  0.9608    NaN     NaN  115.74     c
11        652  0.9753     NaN     NaN  -5.32     NaN     NaN     a
12        670  1.0040  1.0319  0.9898  -3.46 -121.97  117.10   abc
13        632  1.0143  1.0289  1.0042  -2.53 -121.76  117.77   abc
14        680  0.9828  1.0403  0.9649  -5.37 -122.39  115.99   abc
15        684  0.9809     NaN  0.9629  -5.40     NaN  115.89    ac

In [11]:
voltages.get_all(distSys)

     bus_name  v_pu_a  v_pu_b  v_pu_c  ang_a   ang_b   ang_c phase
0   sourcebus  1.0000  1.0000  1.0000  29.99  -90.01  149.99   abc
1         650  0.9999  1.0000  0.9999  -0.01 -120.01  119.99   abc
2        rg60  1.0560  1.0374  1.0560  -0.01 -120.01  119.98   abc
3         633  1.0113  1.0270  1.0015  -2.59 -121.81  117.76   abc
4         634  0.9872  1.0084  0.9825  -3.28 -122.27  117.27   abc
5         671  0.9828  1.0403  0.9649  -5.37 -122.39  115.99   abc
6         645     NaN  1.0197  1.0023    NaN -121.94  117.79    bc
7         646     NaN  1.0180  1.0002    NaN -122.02  117.84    bc
8         692  0.9828  1.0403  0.9649  -5.37 -122.39  115.99   abc
9         675  0.9763  1.0426  0.9630  -5.62 -122.57  116.00   abc
10        611     NaN     NaN  0.9608    NaN     NaN  115.74     c
11        652  0.9753     NaN     NaN  -5.32     NaN     NaN     a
12        670  1.0040  1.0319  0.9898  -3.46 -121.97  117.10   abc
13        632  1.0143  1.0289  1.0042  -2.53 -121.76  117.77   abc
14        680  0.9828  1.0403  0.9649  -5.37 -122.39  115.99   abc
15        684  0.9809     NaN  0.9629  -5.40     NaN  115.89    ac

In [25]:
distSys.init_sys()